body {
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

body:hover {
  cursor: default;
}

.container {
  margin-top: 50px;
}

h1 {
  margin-bottom: 20px;
  font-family: 'VT323', monospace;
  color: #41e0e2;
  font-size: 70px;
}

.bold {
  font-weight: bolder;
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

#clickable {
  color: #c61313;
}

#clickable:hover {
  cursor: pointer;
  opacity: .8;
}

#halExplanation {
  display: none;
  text-align: center;
  font-size: 12px;
  margin: auto;
  width: 50%;
}

a {
  color: #c61313;
}

a:hover {
  text-decoration: none;
  background-color: #c61313;
  color: white;
}

img {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-bottom: 20px;
  margin-right: auto;
  width: 22%;
}

label {
  padding-right: 15px;
}

.btn-danger {
  display: block;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

#result {
  display: none;
  margin-top: 50px;
  margin-bottom: 100px;
  font-family: 'VT323', monospace;
  font-size: 30px;
  color: #41e0e2;
}
